
.counter{
  padding: 2rem 5rem;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  background-color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 450px){
  .counter{
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 380px){
  .counter{
    padding: 2rem 1rem;
  }
}